<button
  (click)="onClick()"
  class="py-2.5 px-4 rounded-full bg-white flex items-center justify-center gap-2 text-sm font-medium group ring-2 ring-gray-200 hover:ring-2 hover:ring-gray-300 transition-all duration-200"
>
  <lucide-icon name="sliders-horizontal" class="w-4 h-4 group-hover:text-gray-800" />
  <span class="group-hover:text-gray-800 hidden sm:inline">Filter</span>
  <span *ngIf="activeFiltersCount > 0" 
        class="absolute -top-1 -right-1 bg-[#212121] text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">
    {{ activeFiltersCount }}
  </span>
</button>